body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f1;
}

.container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #333;
}

#reminder-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#snooze-button {
  display: none;
  background-color: #ff8000;
}

#reminder-list-button {
  background-color: #5cb85c;
}

.reminder-list-container {
  display: none;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.reminder-list {
  list-style: none;
  padding: 0;
}

.reminder-list li {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reminder-list button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
